<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django-Datatables-View サンプル</title>
</head>
<body>
<h3>Django-Datatables-View サンプル</h3>
<ul>
    <li><a href="{% url 'sample:sample01' %}">サンプル１：ＰＣ用</a></li>
    <div>チェックボックスによる行の選択。Excel出力, CSV出力, 印刷機能。</div>
    <li><a href="{% url 'sample:sample02' %}">サンプル２：モバイル用</a></li>
    <div>レスポンシブ対応。</div>
    <li><a href="{% url 'todo:index' %}">サンプル３：タスク管理ツール</a></li>
    <div>データ編集画面を追加したサンプルアプリ</div>
</ul>
</body>
</html>